.bg {
  background:
    linear-gradient(rgb(205 205 205 / 0.5), rgb(255 255 255 / 0.5)),
    url("../images/BAE1M.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: var(--header-height);
  width: 100vw;
  height: calc(100vh - var(--header-height));
  z-index: -69;
}

main {
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: 1fr 80vmin 1fr;
  grid-template-rows: 1fr 80vmin 1fr;
  grid-template-areas:
    "... ... ..."
    "... friendtaro ..."
    "... ... ...";
  font-family: "Haros Baelz", "Comic Sans", sans-serif;
  text-align: center;
  place-self: center;
}

.img-container {
  grid-area: friendtaro;
  place-self: center;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  border: 5px solid #00144b;
  box-shadow: 2px 1px black;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff144b #00ffff #00ffff #ff144b;
  }
}
