{% extends "shared/base.html" %}
{% set page_current = "/home" -%}
{% from "shared/header-nav.html" import nav_head, nav_content %}
{% block head -%}
{{nav_head}}
<link href="public/styles/home.css" rel="stylesheet">

<script type="text/javascript">
  document.addEventListener('click', () => document.body.classList.add('after-click'), {capture: true, once: true});
</script>
{%- endblock head %}

{% block content -%}
  <bg></bg>
  <bg-overlay></bg-overlay>
  {{nav_content}}
  <div class="initial-content">
    <div class="congratulations">
      CONGRATULATIONS ON 1 MILLION SUBSCRIBERS BAE!
    </div>
    <div class="prompt">
      Click anywhere to continue
    </div>
  </div>
  <main>
    <div class="block welcome">
      <h1>WAZZUP!</h1>
      <h2>Welcome to the BaeMillion website!</h3>
      <br/>
      <p>And congratulations to you, Bae, for achieving one million subscribers!</p>
      <br/>
      <p>A bunch of talented, passionate and determined Brats came together to create this site to celebrate because we all love and respect our adorkable oshi so much.</p>
      <br/<>
      <p>You'll find messages from fellow Brats who want to congratulate you for this huge milestone, as well as a special timeline to look back on your journey so far. From your debut in 2021 to your stream right now with <a href="/friendtaro" target="_blank">FriendTaro</a>, it has all of your biggest moments. We've worked very hard to make this a reality so we hope you like it! </p>
      <br/>
      <p>So sit back and relax. Get your sandwiches, soups, and coffee, and have fun browsing our special website dedicated to the best Rat Idol. She is Chaos, the End of ends, the Steel Rose trapped in a cage of ice, our best friend Baelz Hakos from Hololive English Promise! WITNESS HER!</p>
      <br/>
      <p>But before you do, allow us to introduce ourselves!</p>
    </div>
    <div class="block introduction">
      <h1>OUR INTRODUCTION!</h1>
      <h2>(SOUND ON)</h2>
      <br/>
      <iframe class="video" src="https://www.youtube-nocookie.com/embed/k8_-5hQvYqc?rel=0" title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen referrerpolicy="strict-origin-when-cross-origin">
      </iframe>
    </div>
  </main>
{%- endblock content %}
