<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>{% block title %}Operation MM{% endblock title %}</title>
<link href="public/images/squeaks-favicon.png" rel="icon">
<link href="public/styles/shared/reset.css" rel="stylesheet">
<link href="public/styles/shared/base.css" rel="stylesheet">
<link rel="preload" href="public/fonts/NotoSans-Regular.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="public/fonts/edosz.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{%- block head -%}{%- endblock head -%}
</head>

<body>
{%- block content -%}{%- endblock content -%}
</body>
</html>
